<% layout('/layouts/boilerplate') -%>
    <div class="row">
        <h1 class="col-6 offset-3 text-center">Edit Details</h1>
        <div class="col-md-6 offset-md-3">
            <form class="needs-validation" action="/user/<%=usdata._id%>?_method=PUT" method="post" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="name"> Name </label>
                    <input type="text" class="form-control" id="name" name="UserData[name]" value="<%= usdata.name %>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="district"> District </label>
                    <input type="text" class="form-control" id="district" name="UserData[district]"
                        value="<%= usdata.district %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="state"> State </label>
                    <input type="text" class="form-control" id="state" name="UserData[state]"
                        value="<%= usdata.state %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="pin"> Pincode </label>
                    <input type="number" class="form-control" id="pin" name="UserData[pin]" value="<%= usdata.pin %>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" id="dose1" name="UserData[dose1]" <%=usdata.dose1 ? "checked" : "" %>>
                    <label class="form-check-label" for="dose1"> Had Dose 1 </label>
                </div>
                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" id="dose2" name="UserData[dose2]" <%=usdata.dose2 ? "checked" : usdata.dose1 ? "" : "disabled" %> >
                    <label class="form-check-label" for="dose2"> Had Dose 2 </label>
                </div>
                <div class="mb-3">
                    <button class="btn btn-warning">Update Details</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        var checker = document.getElementById('dose1');
        var sendbtn = document.getElementById('dose2');
        // when unchecked or checked, run the function
        checker.onchange = function () {
            if (this.checked) {
                sendbtn.disabled = false;
            } else {
                sendbtn.disabled = true;
                sendbtn.checked = false
            }
        }
    </script>